body{
    font-family: sans-serif;
    background-color: #6e9e41;
}

form{
    background-color: rgb(224, 223, 223);
    width: 320px;
    margin: 0  auto;
    padding: 10px;
    border-radius: 5%;
}
h1{
    color: white;
    text-align: center;
    font-weight: bold;
}
p{
    text-align: center;
}