$width1: 100%;
$width500: 500px;
$px10: 10px;



$white: #ffffff;
$black: #000000;
$platinum: #E8E8E8;
$gray:#BABABA;
$darksalmon: #EE9480;
$melon: #FABAAE;
$palepink: #FADFDA;
$ballblue: #2AB7CA;
$middleblue: #77D1DD;
$bluelagoon: #B1E4EB;
$onix: #333745;
$spanishgray: #8F9199;
$lavendergray: #C7C8CC;
$raisignblack: #221d23;
$nickel: #726F73;
$silverchalice: #AEACAF;

$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

$regular:400;
$bold:700;

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
