
//colores
$negro: #000;
$grisLight: rgb(245, 240, 240);
$blanco:#fff;
$azulOscuro:rgb(48, 76, 151);
$azul:rgb(211, 240, 213);
$azulLight:rgb(217, 221, 233);


//font-family
$raleway: 'Raleway', sans-serif;
$openSans:'Open Sans', sans-serif;

$bold:700;
$regular:400;


//Font Size
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;