body {
font-family: 'Roboto Slab', serif;
background-color: #024a86;
}

.fondoformulario {
  background-color: rgb(224, 223, 223);
  border-radius: 10px;
  color: #024a86;
  font-size: 14px;
  padding: 20px;
  margin: 0 auto;
  width: 300px;
}

input, textarea {
border: 20;
outline: none;
width: 280px;
font-family: 'Roboto Slab', serif;
}
.field {
border: solid 1px #ccc;
padding: 10px;
font-family: 'Roboto Slab', serif;
}
.field:focus {
border-color: rgb(124, 193, 250);
}
.center-content {
text-align: center;
}
h2{
text-align: center;
color: #fff;
}

.btn-enviar {
  background-color: #dff90a;
}

img {
  width: 45%;
  align-content: center;
}

.centrado {
  align-items: center;
  align-content: center;
  text-align: center;
}
